body {
    background: url(./images/pexels-rocks.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Fauna One', serif;
}

main {
    margin: 20px;
}

.main-content {
    background-color: white;
    opacity: .95;
    padding: 20px;
    /* font-family: 'Peddana', serif; */
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Markazi Text', serif;
}

nav {

    font-family: 'Fauna One', serif;
    font-size: 1.5em;
    opacity: .9;
}

/* .navPages {
    float: right;
} */

#name {
    font-size: 1.25em;
    font-style: italic;
}

footer {
    font-family: 'Fauna One', serif;
    opacity: .9;
    padding-bottom: .25rem;

}

.smIcon {
    width: 40px;
    margin-left: 10px;
    opacity: .75;
}

#copyRight {
    padding: 0;
    padding-right: .75rem;
    font-size: .9em;
    margin-bottom: 0;

}

p {
    margin-bottom: 0;
}

.card-link {
    font-family: 'Fauna One', serif;
    color: black;
    font-style: italic;
}