body {
    background: url(./images/pexels-rocks.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity: .85;
    font-family: 'Fauna One', serif;

}

main {
    margin: 20px;
}

.main-content {
    background: white;
    opacity: 2;
}

nav {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Fauna One', serif;
    font-size: 1.5em;
}

#name {
    font-size: 1.25em;
    font-style: italic;
}

#searchbtn {
    color: black;
    border-color: black
}

footer {
        font-family: 'Fauna One', serif;

}