body {
    background: url(./images/pexels-rocks.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Fauna One', serif;
    /* height: 110vh; */

}

main {
    margin: 20px;
    padding-bottom: 2rem;

}

.main-content {
    background-color: white;
    opacity: .95;
    padding: 20px;
    /* font-family: 'Peddana', serif; */
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Markazi Text', serif;
    /* play w height here */
}

nav {

    font-family: 'Fauna One', serif;
    font-size: 1.5em;
    opacity: .9;
}

/* .navPages {
    float: right;
} */

#name {
    font-size: 1.25em;
    font-style: italic;
}

footer {
    font-family: 'Fauna One', serif;
    opacity: .9;
}

.smIcon {
    width: 40px;
    margin-left: 10px;
    opacity: .75;
}

#copyRight {
    padding: 0;
    padding-right: .75rem;
    font-size: .9em;
    margin-bottom: 0;

}

p {
    margin-bottom: 0;
}

/* poems page  */

.card-link {
    font-family: 'Fauna One', serif;
    color: black;
    font-style: italic;
}

/* #lastCard {
    margin-bottom: 3rem;
} */


/* main page */

#welcome {
    font-style: italic;
    font-size: 5em;

}



.mainText {
    font-size: 3vmin;
    text-align: justify;
  }

.profilepic {
    border-style: solid;
    border-width: thick;
    float: right;
    margin-right: 20px;
    margin-bottom: 5px;
    padding: 0;
  }

  #mainLongText {
      /* text-align: right; */
      line-height: 150%;
  }

  #puddlePic {
      width: 400px;
      border-style: solid;
    border-width: thick;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    padding: 0;
  }

  .featuresText {
    line-height: 150%;
  }

  #contactText {
    line-height: 150%;
  }